
.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
}

.spliter {
	color: #bbb;
	padding: 0px 8px;
}
.logo img {
	width: 120px;
	margin: auto;
	padding-top: 40px;
	display: block;
}

.mdui-btn {
	margin-top: 20px;
}

.link-area a {
	border-bottom: 1px solid purple;
}
.verificationbox{
	position: relative;
}
.verification{
	float: right;
	position: absolute;
	bottom: 18px;
	right: 10px;
	
}
